{% extends 'layout.html' %}
{% load bootstrap3 %}


{% block title %} Logout|{{ block.super }}{% endblock %}

{% block content %}
     <div class="container pt" >
    <div class="row">
        <div class="col-md-6">
            <h2> Logout?!</h2>
            <form  method="post">
        {% bootstrap_form form %}
            {% csrf_token %}
                <input type="submit" value="logout" class="btn btn-primary">
                </form>
        </div>
        <div class="col-md-6">
    <h2> Come back soon !!</h2>
    <p> “For every minute you are angry you lose sixty seconds of happiness.”
― Ralph Waldo Emerson</p>
        </div>
    </div>
        </div>
    </div>
{% endblock %}